/*google font imports*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');

/*asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: black;
    font-family: 'Lato', sans-serif;
}

/* header */
header {
    background-color: gold;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 4px yellow;
}

/*header links text*/
header a {
    text-decoration: none;
    color: inherit;
}

/*logo text*/
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(43, 161, 161);
}

/*navigation bar*/
#menu {
    font-size: 110%;
    initial-letter: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* main content */
main {
    background-color: black;
    /*make the main element take up surplus space to push down the footer*/
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: gold;
}